---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/stores((storeId=2730))?apiKey=7a3heu7emrjz6qbsugmepbv6&format=json&storeID=2730
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.005",
          "partial": false,
          "canonicalUrl": "/v1/stores((storeId=2730))?format=json&apiKey=7a3heu7emrjz6qbsugmepbv6",
          "stores": [
            {
              "storeId": 2730,
              "storeType": "Mobile",
              "tradeIn": "Trade-In - No-receipt",
              "name": "Town Center at Aurora",
              "longName": "Best Buy Mobile - Town Center at Aurora",
              "address": "14200 East Alameda Avenue",
              "address2": "#2011",
              "city": "Aurora",
              "region": "CO",
              "fullPostalCode": "80012",
              "country": "US",
              "lat": 39.708946,
              "lng": -104.824794,
              "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 11-6",
              "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 11am-6pm",
              "gmtOffset": -7,
              "services": [
                {
                  "service": "Best Buy Mobile Specialty Store"
                },
                {
                  "service": "Electronics Recycling"
                }
              ],
              "phone": "303-326-0848",
              "postalCode": "80012"
            }
          ]
        }
  recorded_at: Tue, 20 Sep 2016 17:53:06 GMT
recorded_with: VCR 3.0.3
